body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}


div {
  position: absolute;
  border: 1px solid #000000;
}

.interior {
  width: 20%;
  height: 30%;
  border-radius: 40px;
  box-shadow: 10px 10px gray;
  transition: transform 0.5s;
}

.interior:hover {
  transform: rotateY(180deg);
}

.name {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 50%;
  margin: 0;
  text-align: center;
  padding-top: 35%;
  background-color: beige;
  border-radius: 50px;
  
}

.interior:hover .name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
}


.superior {
  top: 25%;
}

.inferior {
  bottom: 8%;
}

.izquierda {
  left: 25%;

}

section {
    width: 100%;
    height: 100%;
}

.derecha {
  right: 25%;
}

#id1 {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url("imagenes/logo.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#id2 {
    background-image: url("imagenes/dibujantes.jpg");  
    background-size: cover;
}

#id3 {
    background-image: url("imagenes/disenador-grafico.jpg");
    background-size: cover;
}

#id4 {
    background-image: url("imagenes/disenadora-grafica.jpg");
    background-size: cover;
}

#id5 {
    background-image: url("imagenes/herramienta-diseno-grafico.jpg");
    background-size: cover;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  color: black;
  text-align: center;
  padding: 15px;
  z-index: 1000;
}

h1 {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: black;
  margin-top: 20px;
  position: relative;
  top: -20px;
  border: 2px solid black;
  background-color: white;
  height: 40px;
  padding: 35px;

}
.logo {
  position: absolute;
  left: 5px;
  width: 150px;
  height: 90px;
  object-fit: contain;
  z-index: 1000;
 
  
}

nav {
    top: 250px;
   position: relative;
   top: -42px;
    width: 200px;
    height: 800px;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    
}

aside {
  position: relative;
  top: -875px;
  left: 1690px;
  width: 200px;
  height: 1000px;
  border: 2px solid #333;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 15px;
  z-index: 1000;
  text-align: center;
}

aside div {
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
