body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

#id1 {
  width: 100%;
  height: 100%;
  background-image: url("imagenes/original.avif");
  background-size: cover;
  background-position: center;
}

div {
  position: absolute;
  border: 1px solid #000000;
}

.interior {
  width: 40%;
  height: 40%;
  border-radius: 40px;
  box-shadow: 10px 10px gray;
  transition: transform 0.5s;
}

.interior:hover {
  transform: rotateY(180deg);
}

.name {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 50%;
  margin: 0;
  text-align: center;
  padding-top: 35%;
  background-color: beige;
  border-radius: 50px;
  
}

.interior:hover .name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
}



.superior {
  top: 8%;
}

.inferior {
  bottom: 8%;
}

.izquierda {
  left: 3%;

}

section {
    width: 100%;
    height: 100%;
}

.derecha {
  right: 2%;
}

#id1 {
    position: fixed;
    inset: 0;
    width: 100;
    height: 100;
    background-image: url("imagenes/logo.jpg");
    background-size: cover;
    background-position: center;

    z-index: -1;
}

#id2 {
    background-image: url("imagenes/dibujantes.jpg");  
    background-size: cover;
}

#id3 {
    background-image: url("imagenes/disenador-grafico.jpg");
    background-size: cover;
}

#id4 {
    background-image: url("imagenes/disenadora-grafica.jpg");
    background-size: cover;
}

#id5 {
    background-image: url("imagenes/herramienta-diseno-grafico.jpg");
    background-size: cover;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  color: black;
  text-align: center;
  padding: 15px;
  z-index: 1000;
}

h1 {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: black;
  margin-top: 20px;
  top: 240px;
  border: 2px solid black;
  background-color: beige;
  height: 100px;
  padding: 45px;

}
.logo {
  position: absolute;
  top: -8px;
  left: 10px;
  width: 100px;
  height: 100px;
  object-fit: contain;
  z-index: 1000;
}

nav {
    top: 240px;
    left: 10px;
    width: 200px;
    height: 1000px;
    border: 2px solid black;
    background-color: turquoise;
    border-radius: 10px;
    padding: 15px;
    z-index: 1000;
}
